{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}


{% block body %}
<h1>Home</h1>
<h2>Merlin a parlé...</h2>
{% for speech in merlin_speeches %}
<div>
    <div>{{ speech.subject }}</div>
    <div>{{ speech.text|raw }}</div>
</div>
{% endfor %}
{% endblock %}