<form method="post" action="{{ path('merlin_speech_delete', {'id': merlin_speech.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ merlin_speech.id) }}">
    <button class="btn">Delete</button>
</form>
